@model AS_lab1_gr1.Models.Author

<h1>Dodano autora:</h1>

<div class="w3-card">
    <header class="w3-container w3-blue">

    </header>

    <div class="w3-container">
        <h2>@(Model.FirstName + " " + Model.LastName)</h2>
    </div>

    <footer class="w3-container w3-blue">

    </footer>
</div>


